* {
  box-sizing: border-box;
}
.wrapper {
  margin: 2% 2%;
.header
}
body {
  background: grey;
  color: white;
}
.nav ul {
  background-color:black;
  list-style:none;
  text-align: center;
}
.nav li {
  display:inline-block;
}
.nav li a {
  color:white;
  text-decoration: none;
}
#pan-img {
  width: 40%;
  position:relative;
  top: 15%;
  left: 30%;
}
.pan-desc {
  z-index: 1;
  position: absolute;
  left: 25%;
}
.rightside {
  float:right;

}
