* {
  box-sizing: border-box;
}
.wrapmeamadeus {
  margin: 2% 2%;
}
.header h1 {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-style: italic;
  color:black;
}

body {
  background: linear-gradient(to left, #f2f2f2, #4d4d4d);
  color: white;
}

.nav ul {
  background-color:black;
  list-style:none;
  text-align: center;
}
.nav li {
  display:inline-block;
}
.nav li a {
  color:white;
  margin-left: 10px;
  padding: 30px;
  text-decoration: none;
}
#pan-img {
  width: 40%;
  position:relative;
  top: 18%;
  left: 35%;
}
.pan-desc {
  z-index: 1;
  position: absolute;
  left: 30%;
  top: 60%;
  font-style: italic;
}
.rightside {
  position: absolute;
  top: 15%;
  left: 65%;
  width: 35%;

}
.pan-success {
  object-fit: cover;
  height: 100px;
  width: 100px;
}
.footer ul {
  list-style: none;
}
.footer ul li {
  float: left;
  padding-top: 3%;
  padding-left: 10%;
}
.footer ul li img {
  border: 2px solid black;
}
